<!doctype html>
<html lang="fr">
<head>
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/index.css') }}" rel="stylesheet">

    <style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
        font-size: 3.5rem;
        }
    }
    </style>

    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

</head>
<body class="text-center">
    
    <main class="container">

        <div class="mb-5">
            {% for message in app.flashes('success')  %}
                <div class="alert alert-success">
                    {{ message }} <br/> 
                    {% if payment_id %} Référence de paiement : {{ payment_id }} {% endif %}
                </div>
            {% endfor %}

            {% for message in app.flashes('warning')  %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endfor %}
        </div>

        {% block body %}{% endblock body %}
    </main>
    
</body>
